@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@700&family=Ubuntu:wght@400;500;700&display=swap");

/* ----------------- CSS Reset ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}
img,
svg {
  max-width: 100%;
  
}
:root {
  --blue: #3063e4;
  --text-gray: #4a5157;
  --bg-light: #f2f4f5;
  --text: #434343;
}

body {
  background: var(--bg-light);
}

/* ----------------- Header Starts ----------------- */
header {
  background-color: white;
  border-bottom: 0.5px solid rgba(109, 125, 147, 0.2);
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

header nav {
  gap: 5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

header nav .user {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 0.5rem 1.7rem 0.5rem 0.5rem;
  color: var(--text-gray);
  font-size: 1.5rem;
}
/* ----------------- Header Ends --------------- */

/* ----------------- Main ----------------- */
main {
  align-items: flex-start;
  display: flex;
}

/* ----------------- Aside ----------------- */
main aside {
  max-height: 77vh;
  overflow-y: scroll;
  margin-top: 6rem;
  padding: 1rem 2rem 5rem 2rem;
  max-width: 17%;
  min-width: 17%;
}

/* ----------------- Filter Button ----------------- */
.filter-btn {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--blue);
  padding: 0.5rem 1rem 0.6rem 1rem;
  color: var(--blue);
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 1rem;
}

/* ----------------- Floating Btn Inside the aside (filters) ----------------- */
.btn-container {
  position: absolute;
  bottom: 1rem;
  left: 5px;
  gap: 1.6rem;
}

/* General Btn Styling */
.btn1 {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 1rem 1.6rem 1rem 1.3rem;
  gap: 1rem;
}
.btn-container .search-btn {
  background: var(--blue);
}
.btn-container .clearAll-btn {
  background-color: black;
}

/* Filter Category ( */
.filter-catergory {
  cursor: pointer;
  justify-content: space-between;
  color: var(--text);
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.filter-items {
  font-size: 1.4rem;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/* Special Filter Item (configuration) Starts */
.config {
  max-height: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Individual Div */
.config div {
  background-color: white;
  padding: 0.6rem 1.2rem;
  border: 1px solid rgba(228, 231, 233, 1);
  border-radius: 2px;
  gap: 0.8rem;
  color: #191c1f;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

/* Active div */
.active-config {
  border: 1px solid #fa8232;
  background: #fff3eb !important;
}
/* Special Filter Item (configuration) Ends */

/* Special Filter of budget  */
.budget {
  font-weight: 500;
  overflow: hidden;
  max-height: fit-content !important;
  flex-direction: row !important;
  gap: 1rem;
}
.budget input {
  width: 8.8rem;
  outline: none;
  padding: 0.5rem;
}
.budget div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2rem;
}

.filter-items label {
  gap: 1rem;
  display: flex;
}
.filter-items input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
}
.filter-items input[type="text"] {
  border-radius: 3px;
  background: white;
  border: none;
  font-size: 1.4rem;
  outline: none;
  padding: 0.7rem 1rem;
  color: #77878f;
}

.filter-items input[type="date"] {
  padding: 1rem 1rem;
}

.items {
  border-bottom: 1px solid rgba(228, 231, 233, 1);
  padding: 1.8rem 0 0 0;
}
/* Filter Styling Ends */

.active-filter-items {
  display: none;
  position: absolute;
  z-index: 100000;
  background-color: white;
  width: max-content;
  padding: 1rem 3rem 1rem 1rem;
  text-align: left;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: 1rem;
}

.active-filter-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.active-filter-items p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #9e9e9e;
}

.active-filter-container .item-container:hover div {
  display: block;
}
/* Right Section  */
section {
  margin: 1rem 1rem 0 0;
  padding: 1rem 1rem 0 1rem;
  flex: 1;
  background: white;
}

/* Quick Filter Option (Floating Options) */
.quick-filter {
  padding-left: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  background-color: white;
  width: 19rem;
  position: absolute;
  right: 0;
  top: 110%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: 5px;
  z-index: 10000;
}

.quick-filter p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #8b8b8b;
  margin-top: 1.4rem;
}

/* Quick Filter Btn */
section .quickFilter-btn {
  position: relative;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--blue);
  color: var(--blue);
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.6rem 0.5rem;
  margin-right: 0.8rem;
}

/* ---------------------- Table Styling Starts ---------------------- */
section table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

section table th {
  padding: 1.6rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}
section table td {
  padding: 1.3rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
}

table input[type="checkbox"] {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

/* Left aligning the name column & adding some padding */
tr td:nth-child(2),
tr th:nth-child(2) {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Left aligning the remarks column & adding some padding */
tr td:nth-child(4),
tr th:nth-child(4) {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* See More Option in Table */
.see-more {
  text-align: left;
  background-color: white;
  z-index: 100;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: 1rem;
  padding: 0 1rem 1rem 1rem;
  width: 16rem;
  top: 50%;
  right: 50%;
}
.see-more p {
  font-size: 1.3rem;
  color: #9e9e9e;
  margin-top: 1rem;
}
/* Active see more */
.active-see-more {
  background-color: #d9edff;
  color: black !important;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  margin-left: -0.6rem;
}

.nested-see-more {
  display: none;
  text-align: left;
  background-color: white;
  z-index: 100;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: 1rem;
  padding: 0 1rem 1rem 1rem;
  width: 16rem;
  top: 33%;
  right: 102%;
}

section thead {
  background-color: #474747 !important;
  z-index: 100;
  position: sticky;
  top: 0;
  border-top: 0;
  border-bottom: 0;
  color: white;
}

tr th:nth-child(3)::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgb(128, 128, 128);
}

tr th:nth-child(3)::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 0%;
  height: 100%;
  width: 1px;
  background-color: rgb(128, 128, 128);
}

/* ------------- Different status styling Starts ------------- */
.status-nc {
  background-color: #f5f5f5;
  border: 0.5px solid #5a5a5a;
  color: #242424;
}

.status-interested {
  background-color: #fee9e9;
  border: 0.5px solid #ff3d00;
  color: #242424;
}

.status-purchased {
  background-color: #c0ffdd;
  border: 0.5px solid #00b050;
  color: #242424;
}
.status-new {
  background-color: #c0e5ff;
  border: 0.5px solid #0070c0;
  color: #242424;
}

.status-ni {
  background-color: #ffeedd;
  border: 0.5px solid #987654;
  color: #242424;
}

.status-po {
  background-color: #cfffc3;
  border: 0.5px solid #008000;
  color: #242424;
}
/* ------------- Different status styling Ends ------------- */

/* ----------------------------- Table Styling Ends ----------------------------- */

/*  ----------------- Add new lead dialog starts -----------------*/
dialog {
  border: none;
  margin: 8rem auto 0;
  height: 80vh;
  width: 50vw;
  border-radius: 1.5rem;
  padding: 0 1rem 1rem 1rem;
  /* height: min-content; */
}
/* Adding background blur when the modal is opened */
dialog::backdrop {
  backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.8);
}

dialog .dialog-btn {
  border-radius: 5px;
  outline: none;
  border: unset;
  cursor: pointer;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.6rem 2rem;
  background-color: #3063e4;
  /* text-transform: uppercase; */
}

.add-nlead-modal {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  padding: 2rem;
}
.add-nlead-modal .heading {
  color: #696969;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  z-index: 10000000;
}

.add-nlead-modal .section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 2.4rem;
}

.add-nlead-modal .down-arrow {
  rotate: 180deg;
}

.add-nlead-modal .section-container div {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: #696969;
  font-size: 1.5rem;
}

.add-nlead-modal .details-item {
  display: flex;
  gap: 2rem;
  margin: 0 1rem 2.5rem 1rem;
}

.add-nlead-modal .details-item > div {
  border-radius: 5px;
  position: relative;
  flex: 1;
}
.add-nlead-modal .details-item input[data-att="input"],
.add-nlead-modal .details-item input[data-att="date"] {
  padding: 1.4rem 1rem;
  color: #696969;
  font-size: 1.4rem;
  width: 100%;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  outline: none;
  height: 100%;
}

dialog input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.add-nlead-modal .details-item label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-right: 1rem;
  font-size: 1.4rem;
  color: #696969;
  margin-bottom: 0;
}
.add-nlead-modal .details-item .float-span {
  position: absolute;
  top: -13px;
  background-color: white;
  left: 10px;
  margin: 0 5px;
  padding: 0 1rem;
  z-index: 100;
  font-size: 1.4rem;
  font-weight: 500;
  color: #696969;
}





/* Removing the up/down btn from input[number] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Utility Class for rotate */
.rotate {
  transform: rotate(180deg);
}

/* ----------------- Custom Scrollbar Styling ----------------- */

/* table  Custom Scrollbar  */
dialog::-webkit-scrollbar,
.table-container::-webkit-scrollbar {
  padding: 10rem;
  margin: 10rem;
  visibility: hidden;
  width: 0.8rem;
  border-radius: 5px;
}

dialog::-webkit-scrollbar-thumb,
.table-container::-webkit-scrollbar-thumb {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background: lightgray;
}

/* Aside  Custom Scrollbar  */
aside::-webkit-scrollbar {
  padding: 10rem;
  margin: 10rem;
  visibility: hidden;
  width: 0.8rem;
  border-radius: 5px;
}

aside::-webkit-scrollbar-track {
  margin-top: 2rem;
}

aside::-webkit-scrollbar-thumb {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background: lightgray;
}

/* Filter Options Custom Scrollbar */
.filter-items::-webkit-scrollbar {
  visibility: hidden;
  width: 0.5rem;
}
.filter-items::-webkit-scrollbar-thumb {
  width: 1px;
  height: 10px;
  border-radius: 10px;
  background: lightgray;
}

/* Custom Scrollbar Inside the Bootstrap Search  */
.inner::-webkit-scrollbar {
  padding: 10rem;
  margin: 10rem;
  visibility: hidden;
  width: 0.5rem;
  border-radius: 5px;
}

.inner::-webkit-scrollbar-thumb {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background: lightgray;
}


/* CSS for the table */
.modal-table {
  width: 100%;
  border-collapse: collapse; /* Remove spacing between table cells */
  border: 1px solid #ccc; /* Add a border around the table */
}

/* CSS for table headers */
.modal-table th {
  background-color: black; /* Background color for header */
  color: white; /* Text color for header */
  padding: 10px; /* Add some padding to the header cells */
  text-align: left; /* Align header text to the left */
  border: 1px solid #ccc; /* Add a border to the header cells */
}

/* CSS for table cells (even rows) */
.modal-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

/* CSS for table cells (odd rows) */
.modal-table tr:nth-child(odd) {
  background-color: #fff; /* Alternate row background color */
}

/* CSS for table cell content */
.modal-table td {
  padding: 10px; /* Add some padding to the cells */
  border: 1px solid #ccc; /* Add a border to the cells */
}


/* ---------  Remarks Modal Styling --------- */
.remarks {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2rem 2rem 2rem 0;
  padding: 2rem;
  border: 1px solid rgba(204, 203, 203, 1);
  max-width: 80%;
  min-width: 80%;
  margin: 3rem auto 0;
}
.remarks p:first-child {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.remarks p:nth-child(2) {
  font-weight: 600;
  font-size: 1.4rem;
  color: #393939;
}
.remarks-heading {
  color: #696969;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  z-index: 10000000;
}

.remarks .text {
  font-size: 1.2rem;
  color: #2c2c2c;
  margin-top: 0.7rem;
  margin-bottom: 1.4rem;
}
.remarks .call-details {
  color: #6e6e6e;
  font-weight: 500;
  font-size: 1.2rem;
}